.hometabs {
margin:10px 0;
height:70px;
border:0;
}
.hometabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 70px;
	overflow: hidden;
	position: relative;
}
.hometabs li a {
	outline: none;
    display: block;
    height: 70px;
    margin: 0;
    padding: 0;
    text-indent: -999em;
}
#homeWaysTab a {
    background: url(/img/home-ways-tab.png) no-repeat scroll 0 0 transparent;
    width:359px;	
}
#homeSpecialsTab a {
    background: url(/img/home-specials-tab.png) no-repeat scroll 0 0 transparent;
    width:359px;	
}
#homeWaysTab:hover a {
background: url(/img/home-ways-tab.png) no-repeat scroll 0 -70px transparent;;
}
#homeSpecialsTab:hover a {
background: url(/img/home-specials-tab.png) no-repeat scroll 0 -70px transparent;;
}
#homeWaysTab.active a {
background: url(/img/home-ways-tab.png) no-repeat scroll 0 -140px transparent;;
}

#homeSpecialsTab.active a {
background: url(/img/home-specials-tab.png) no-repeat scroll 0 -140px transparent;;
}
.tab_container {
	border: 0;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
}
#homeDealWrpr {
	background:#fbfbfb;
	border:1px solid #dbdbdb;
	width:704px;
	padding:6px;
	margin:10px 0;
	   overflow:hidden;
}
#homeWaysContent {
width:718px;
margin-bottom:25px;
overflow: hidden;
}
#homeWaysContent .left-col {
   float:left;
   width:359px;
}
#homeWaysContent .right-col {
   float:right;
   width:359px;
}
#homeDealWrpr .left-col {
   float:left;
   padding-right:18px;
   width:250px;
}
#homeDealWrpr .left-col a img {display:block; margin:0 auto;}
#homeDealWrpr .right-col {
   float:left;
}
#homeDealWrpr .right-col h1 {
	margin:0 0 10px 0;
}
#homeDealWrpr .right-col h2 {
	margin:0 0 10px 0;
}
#homeWaysContent .right-col a {
	float:right;
}
#homeWaysContent a {display:block;background:url(/img/home-ways-btns.png) top left no-repeat;width:347px;height:102px;text-decoration:none}
#homeWaysContent a.age {background: url(/img/home-ways-btns.png) 0 -306px;}
#homeWaysContent a.ingredients {background: url(/img/home-ways-btns.png) 0 -102px;}
#homeWaysContent a.brand {background: url(/img/home-ways-btns.png) 0 -408px;}
#homeWaysContent a.men {background: url(/img/home-ways-btns.png) 0 -204px;}
#homeWaysContent a.women {background: url(/img/home-ways-btns.png) 0 -510px;}

.brand-special-wrpr {overflow:hidden;width:718px;display:block;height:83px;margin:10px 0 20px 0;}
.brand-special-wrpr li{float:left; position:relative; margin-left:20px; margin-bottom:10px}
.brand-special-wrpr li:first-child{margin:0}

#homeSpecialsContent .headline {
	width:718px;
   height:40px;
   display:block; 
   overflow:hidden;
border:1px solid #D5D5D5;
background-color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f7f7)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #f7f7f7); /* for firefox 3.6+ */ 	
}
#homeSpecialsContent .headline .icon, #homeSpecialsContent .headline .title{
	float:left;
}
#homeSpecialsContent .headline .icon {
    background: url(/img/home-specials-icons.png) no-repeat scroll 2px 6px transparent;
    height:36px;
	width:33px;
	display:block;
	}
#homeSpecialsContent .headline .deal {
    background: url(/img/home-specials-icons.png) no-repeat scroll 2px -30px transparent;
    height:30px;
	margin-top:5px;
	}
#homeSpecialsContent .headline .weekly {
    background: url(/img/home-specials-icons.png) no-repeat scroll 2px -60px transparent;
    height:30px;
	margin-top:8px;
	}
#homeSpecialsContent .headline .super {
    background: url(/img/home-specials-icons.png) no-repeat scroll 2px -90px transparent;
    height:30px;
	margin-top:6px;
	}
#homeSpecialsContent .headline .bogo {
    background: url(/img/home-specials-icons.png) no-repeat scroll 2px -120px transparent;
    height:30px;
	margin-top:5px;
	}
#homeSpecialsContent .headline .title {
	font-size:30px; font-family:pt-sans,Arial,sans-serif; font-weight:400;
	line-height:40px;
	color:#bf000b;
	}

#homeSpecialsContent .headline .right{
	margin-right:10px;
	}
#homeSpecialsContent .headline .right a{
	font-size:18px;
	line-height:42px;
	}
	
#homeSpecialsContent .product-row {
	padding:10px 0;
	width:718px;
	min-height:100px;
	display:block;
background-color: #fff;
overflow:hidden;

background: -moz-linear-gradient(#fff,  #fbfbfb);
background: -webkit-linear-gradient(#fff,  #fbfbfb);
background: -o-linear-gradient(#fff,  #fbfbfb);
background: -ms-linear-gradient(#fff,  #fbfbfb);/*For IE10*/
background: linear-gradient(#fff,  #fbfbfb);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#fbfbfb');/*For IE7-8-9*/ 
height: 1%;/*For IE7*/ 

border:1px solid #D5D5D5;
margin-bottom:20px;
}

#homeSpecialsContent .product-row li {
	float:left;
}
#homeSpecialsContent .product-row .thumb {
width:116px; vertical-align:top;
}
#homeSpecialsContent .product-row .thumb a img{max-width:100px; max-height:100px; border:0;display:block; margin:0 auto;}
#homeSpecialsContent .product-row .info {margin-top:5px; width:340px;}
#homeSpecialsContent .spex {width:268px; overflow:hidden; float:left; font-size:12px; text-align:left}

#homeSpecialsContent .spex dt{float:left; width:78px}
#homeSpecialsContent .spex dd{float:left; width:178px}