	  <rewriteMaps> 
		<rewriteMap name="Infopage">
          <add key="index" value="index"/> 
          <add key="orderstatus" value="orderstatus"/>
          <add key="viewcart" value="viewcart"/>
          <add key="emailoptin" value="emailoptin"/>
          <add key="shipping" value="shipping"/>
          <add key="Register" value="Register"/>
          <add key="forgot" value="forgot"/>
          <add key="forgotaction" value="forgotaction"/>
          <add key="forumulas" value="healthconcerns"/>
          <add key="sale" value="sale"/>
          <add key="faqs" value="faqs"/>
          <add key="about" value="about"/>
          <add key="sitemap" value="sitemap"/>
          <add key="links" value="links"/>
          <add key="links1" value="links1"/>
          <add key="terms" value="terms"/>
          <add key="policies" value="policies"/>
          <add key="testimonials" value="testimonials"/>
          <add key="healthconcerns" value="healthconcerns"/>
          <add key="customer_nutritionist" value="customer_nutritionist"/>
          <add key="customer_cs" value="customer_cs"/>
          <add key="brands" value="brands"/>
          <add key="customer" value="customer"/>
          <add key="deal-of-the-day" value="deal_of_the_day"/>
          <add key="brandspecials" value="brandspecials"/>
          <add key="ingredients" value="ingredients"/>
        </rewriteMap>


		 
      </rewriteMaps> 