<?xml version="1.0" encoding="UTF-8"?>
<configuration> 
  <system.webServer> 

    <rewrite>      
	  <rules> 
        <rule name="Redirect to WWW" stopProcessing="true"> 
          <match url=".*" /> 
          <conditions> 
            <add input="{HTTP_HOST}" pattern="^maxvite.com$" /> 
          </conditions> 
          <action type="Redirect" url="http://www.maxvite.com/{R:0}" redirectType="Permanent" /> 
        </rule>

        <rule name="Categories" stopProcessing="true"> 
          <match url="^([0-9]{1,})/.+/subcategory.html" /> 
          <action type="Rewrite" url="subcats.cfm?CategoryID={R:1}" /> 
        </rule> 

        <rule name="Subcategories" stopProcessing="true"> 
          <match url="^([0-9]{1,})/.+/Brand.html" /> 
          <action type="Rewrite" url="/thumbpics.cfm?SearchType=BR&amp;BrandID={R:1}" /> 
        </rule> 

        <rule name="Brands" stopProcessing="true"> 
          <match url="^[0-9]{1,}/([0-9]{1,})/(.+)/items.html" /> 
          <action type="Rewrite" url="thumbpics.cfm?CategoryID=&amp;SearchType=s&amp;SubCategoryID={R:1}" /> 
        </rule> 
		
        <rule name="Subcategories by health" stopProcessing="true"> 
          <match url="^([0-9]{1,})/FT/(.+)/items.html" /> 
          <action type="Rewrite" url="thumbpics.cfm?SearchType=FT&amp;FormulaTypeID={R:1}" /> 
        </rule> 

        <rule name="Products" stopProcessing="true"> 
          <match url="^([0-9]{1,})/(.+)/product.html" /> 
          <action type="Rewrite" url="itemdetail.cfm?ProductID={R:1}" /> 
        </rule> 

        <rule name="Brandss" stopProcessing="true">
          <match url="^([0-9]{1,})/.+/itemsbrands.html" /> 
          <action type="Rewrite" url="thumbpics.cfm?SearchType=BR&amp;BrandID={R:1}" /> 
        </rule> 
		 
       <rule name="InfoPages" stopProcessing="true"> 
          <match url="(.+).html" /> 
          <action type="Rewrite" url="{Infopage:{R:1}}.cfm" /> 
        </rule>

      </rules>

      
<rewriteMaps configSource="rewritemaps.config" />

    </rewrite>
        <httpErrors errorMode="Custom" />
       
  </system.webServer>
    <location path="img">
    </location> 
</configuration>