#filterWrpr {
	border: 1px solid #cbcbcb;
	width:224px;
	margin-top: 5px;
}
#filterWrpr .filter-title {
	width: 216px;
	border-bottom: 1px solid #cbcbcb;
	background:#f1f1f1;
	height:19px;
	font-weight:bold;
	padding:4px;
}
#filterWrpr .filter-title li:first-child {
	display:block;
	height:14px;
	padding-left:10px;
	background:url("/img/next-arrow.gif") no-repeat scroll 0 3px transparent;
}
#filterWrpr .checkbox-list {
	padding:4px;
	max-height:180px;
	overflow:auto;
}
.paginator {
	margin:4px 0 0 35px;
	padding:0;
	list-style-type:none;
	font-size:12px;
	font-weight:bold;
	line-height:11px;
	position:relative;
	float:left;
}
.paginator li {
	float:left;
	margin-right:15px;
}
.paginator li a {
	text-indent:-10000px;
	height: 11px;
	left:0;
	display:block;
	background: transparent url(/img/listpage-sprite.gif) no-repeat 0 0;
	cursor:default;
}
.paginator .begin-arrow a {
	background-position: -12px -11px;
	width:12px;
}
.paginator .prev-arrow a {
	background-position: -12px -11px;
	width:6px;
}
.paginator .begin-arrow.paginator-active a, .paginator .prev-arrow.paginator-active a{
		background-position: 0 -11px;
}
.paginator .last-arrow a {
	background-position: -12px 0;
	width:12px;
}
.paginator .next-arrow a {
	background-position: -12px 0;
	width:6px;
}
.paginator .last-arrow.paginator-active a, .paginator .next-arrow.paginator-active a {
	background-position: 0 0;
	cursor:pointer;
}
.pagesort-bar .view {
	overflow:hidden;
	float:right;
	height:11px;
	margin-top:4px;
}
.pagesort-bar .view li {
	float:left;
	margin-right:11px;
}
.pagesort-bar .view li a {
	text-indent:-10000px;
	height: 11px;
	left:0;
	display:block;
	background: url(/img/listpage-sprite.gif) no-repeat 0 -33px;
	width:68px;
}
.pagesort-bar .view .grid-view a {
	background-position: 0 -44px;
}
.pageSortSize .per-page-selected {
	font-weight:bold;
}