#filterWrpr {
	border: 1px solid #cbcbcb;
	width:224px;
	margin-top: 5px;
}
#filterWrpr .filter-title {
	width: 216px;
	border-bottom: 1px solid #cbcbcb;
	background:#f1f1f1;
	height:19px;
	font-weight:bold;
	padding:4px;
}

#filterWrpr .filter-title li:first-child {display:block; height:14px; padding-left:10px; background:url("/img/next-arrow.gif") no-repeat scroll 0 3px transparent;}

#filterWrpr .checkbox-list {
	padding:4px;
	max-height:180px;
	overflow:auto;
}

/*pagination bar*/
.pagesort-bar .view{
	width:144px; overflow:hidden; float:right;
	height:11px;
	margin-top:4px;
	}
.pagesort-bar .view li{
	float:left;
outline: none;
text-indent: -9999px;	
	}

.pagination .next-arrow, .pagination .prev-arrow, .pagesort-bar .list-view, .pagesort-bar .grid-view{
	background: url(/img/listpage-sprite.gif) no-repeat;
}
.pagination .prev-arrow, .pagination .next-arrow{
	width: 6px;
	height: 11px;
}
.pagination .selected {
background-color: #004922;
color: white;	
}

.pagination .next-arrow{
	background-position: 0 0;
	margin:3px 0 0 3px;
}

.pagination .prev-arrow{
	background-position: 0 -11px ;
	margin:3px 6px 0 0;
}

.pagesort-bar .view .list-view{
	background-position: 0 -33px ;
	width: 66px;
	height: 11px;
}

.pagesort-bar .view .grid-view{
	background-position: 0 -55px ;
	width: 68px;
	height: 11px;
	padding-right:10px;
}
.pagesort-bar .view .grid-view.active{
	background-position: 0 -44px ;
}
.pageSortSize li .selected {
	font-weight:bold;
	color:#004922
}